<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753641456019-psfqkl6b6qtou6uq37c1cn79gegdcjsn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753641456019-psfqkl6b6qtou6uq37c1cn79gegdcjsn</string>
	<key>API_KEY</key>
	<string>AIzaSyB3MEKVrCRYQ4DeJKegX5VLIDMQPn6VBfw</string>
	<key>GCM_SENDER_ID</key>
	<string>753641456019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-todo-5ea58</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-todo-5ea58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753641456019:ios:74c6152360124248566866</string>
</dict>
</plist>